openapi: 3.0.0
info:
  title: 술사와
  description: 술사화 API
  version: 1.0.0
  contact:
    name: 술사와 개발팀
    email: support@sulsawa.com
    url: http://kdt-sw-7-team07.elicecoding.com
servers:
  - url: http://kdt-sw-7-team07.elicecoding.com:3000/api/v1
  - url: http://localhost:3000/api/v1
tags:
  - name: KaKao
    description: 카카오 소셜 로그인을 통한 사용자 인증 및 관리
  - name: Bars
    description: 지도를 통한 술집에 대한 정보
  - name: Bases
    description: 칵테일에 들어가는 기본 술에 대한 정보
  - name: Cocktails
    description: 다양한 칵테일 레시피 및 제조 방법에 대한 정보
  - name: DiyRecipes
    description: 사용자가 직접 만들고, 술 레시피 및 제조 방법에 대한 정보 공유
  - name: Reviews
    description: 사용자들이 남긴 DIY레시피, 칵테일에 대한 리뷰
  - name: Search
    description: 술, 칵테일, 술집 등에 대한 검색 기능
  - name: Users
    description: 사용자 계정 관리

paths:
  /auth/kakao:
    get:
      tags:
        - KaKao
      summary: 카카오 로그인
      responses:
        '201':
          description: 쿠키에 jwtToken
          content:
            application/json:
              schema:
                type: object
                properties:
                  JwtToken:
                    type: string
        '500':
          description: 서버 오류 입니다.
  /auth/kakao/withdrawal:
    delete:
      tags:
        - KaKao
      summary: 카카오 연결 해제-탈퇴
      security:
        - JwtToken: []
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 카카오 연결 해제와 동시에 탈퇴, 토큰 삭제
        '500':
          description: 서버 오류 입니다.

  /users:
    get:
      tags:
        - Users
      summary: 사용자 목록 조회(관리자)
      security:
        - JwtToken: []
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: perPage
          in: query
          schema:
            type: number
        - name: page
          in: query
          schema:
            type: number
      responses:
        '200':
          description: 사용자 목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                  nickname:
                    type: string
                  isWrite:
                    type: boolean
                  createAt:
                    type: string
                    format: date
                  updatedAt:
                    type: string
                    format: date
  /users/:id/permissions:
    put:
      tags:
        - Users
      summary: 글쓰기, 리뷰 쓰기 권한 수정(관리자)
      security:
        - JwtToken: []
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 권한 수정 성공
  /users/:id/delete:
    delete:
      tags:
        - Users
      summary: 사용자 삭제(관리자)
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 사용자 삭제 성공
  /user/custom:
    put:
      tags:
        - Users
      summary: 사용자 커스텀 설정
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 사용자 커스텀 설정 성공
  /users/mypage:
    get:
      tags:
        - Users
      summary: 사용자 정보 조회
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 사용자 정보 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                  email:
                    type: string
                  nickname:
                    type: string
                  createdAt:
                    type: string
                    format: date
                  updatedAt:
                    type: string
                    format: date
    put:
      tags:
        - Users
      summary: 사용자 정보 수정
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                name:
                  type: string
      responses:
        '200':
          description: 사용자 정보 수정 성공
  /users/logout:
    delete:
      tags:
        - Users
      summary: 사용자 로그 아웃
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 사용자 로그 아웃 성공
  /users/wishlist:
    get:
      tags:
        - Users
      summary: 사용자 찜목록 조회(커서)
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum: [cocktails, recipes]
        - name: cursorId
          in: query
          schema:
            type: string
        - name: perPage
          in: query
          schema:
            type: number
        - name: page
          in: query
          schema:
            type: number
      responses:
        '200':
          description: 사용자 찜목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                  name:
                    type: string
                  image:
                    type: string
                  avgRating:
                    type: string
                  reviewCount:
                    type: string
                  createdAt:
                    type: string
                    format: date
                  updatedAt:
                    type: string
                    format: date
  /users/wishlist/:id:
    post:
      tags:
        - Users
      summary: 사용자 찜 추가
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: 사용자 찜 추가 성공
    delete:
      tags:
        - Users
      summary: 사용자 찜 삭제
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 사용자 찜 삭제 성공

  /bases:
    get:
      tags:
        - Bases
      summary: 베이스 목록 조회
      responses:
        '200':
          description: 베이스 목록 조회 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                    name:
                      type: string
                    images:
                      type: string
    post:
      tags:
        - Bases
      summary: 베이스 등록
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                newImageNames:
                  type: string
      responses:
        '201':
          description: 베이스 등록 성공
  /bases/:id:
    get:
      tags:
        - Bases
      summary: 베이스 상세 조회
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 베이스 상세 조회 성공
    delete:
      tags:
        - Bases
      summary: 베이스 삭제
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 베이스 삭제 성공
    put:
      tags:
        - Bases
      summary: 베이스 수정
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                newImageNames:
                  type: string
      responses:
        '200':
          description: 베이스 수정 성공

  /cocktails/custom:
    get:
      tags:
        - Cocktails
      summary: 개인 맞춤 추천 칵테일 조회(회원)
      parameters:
        - name: JwtToken
          in: cookies
          schema:
            type: string
      responses:
        '200':
          description: 개인 맞춤 추천 칵테일 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                  name:
                    type: string
                  images:
                    type: string
                  abv:
                    type: number
                  sweet:
                    type: number
                  bitter:
                    type: number
                  sour:
                    type: number
                  reviewCount:
                    type: number
                  wishCount:
                    type: number
  /cocktails:
    get:
      tags:
        - Cocktails
      summary: 칵테일 목록 조회/정렬기능(커서)
      parameters:
        - name: base
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: array
            items:
              type: string
        - name: abv
          in: query
          schema:
            type: number
        - name: sweet
          in: query
          schema:
            type: number
        - name: bitter
          in: query
          schema:
            type: number
        - name: sour
          in: query
          schema:
            type: number
        - name: page
          in: query
          schema:
            type: number
        - name: perPage
          in: query
          schema:
            type: number
        - name: cursorId
          in: query
          schema:
            type: string
        - name: cursorValue
          in: query
          schema:
            type: number
      responses:
        '200':
          description: 칵테일 목록 조회 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                    name:
                      type: string
                    image:
                      type: string
                    avgRating:
                      type: number
                    reviewCount:
                      type: string
    post:
      tags:
        - Cocktails
      summary: 칵테일 등록
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                newImageNames:
                  type: string
                recipeImageNames:
                  type: string
                description:
                  type: string
                ingredient:
                  type: string
                content:
                  type: string
                abv:
                  type: number
                sweet:
                  type: number
                bitter:
                  type: number
                sour:
                  type: number
      responses:
        '201':
          description: 칵테일 등록 성공
  /cocktails/:id:
    get:
      tags:
        - Cocktails
      summary: 칵테일 정보 조회
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 칵테일 정보 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                  name:
                    type: string
                  images:
                    type: string
                  tag:
                    type: string
                  description:
                    type: string
                  ingredient:
                    type: string
                  recipe:
                    type: string
                  abv:
                    type: number
                  sweet:
                    type: number
                  bitter:
                    type: number
                  sour:
                    type: number
                  review:
                    type: array
                    items:
                      type: string
                  reviewCount:
                    type: number
                  avgRating:
                    type: number
    put:
      tags:
        - Cocktails
      summary: 칵테일 수정
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                newImageNames:
                  type: string
                recipeImageNames:
                  type: string
                description:
                  type: string
                ingredient:
                  type: string
                content:
                  type: string
                abv:
                  type: number
                sweet:
                  type: number
                bitter:
                  type: number
                sour:
                  type: number
      responses:
        '200':
          description: 칵테일 수정 성공
    delete:
      tags:
        - Cocktails
      summary: 칵테일 삭제
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 칵테일 삭제 성공
  /diy-recipes:
    get:
      tags:
        - DiyRecipes
      summary: 레시피 목록 조회
      parameters:
        - name: base
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: array
            items:
              type: string
        - name: abv
          in: query
          schema:
            type: number
        - name: sweet
          in: query
          schema:
            type: number
        - name: bitter
          in: query
          schema:
            type: number
        - name: sour
          in: query
          schema:
            type: number
        - name: page
          in: query
          schema:
            type: number
        - name: perPage
          in: query
          schema:
            type: number
        - name: cursorId
          in: query
          schema:
            type: string
        - name: cursorValue
          in: query
          schema:
            type: number
      responses:
        '200':
          description: 레시피 목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  diyRecipesSize:
                    type: number
                  diyRecipes:
                    type: array
                    items:
                      type: object
                      properties:
                        list:
                          type: array
                          items:
                            type: object
                            properties:
                              _id:
                                type: string
                              name:
                                type: string
                              images:
                                type: array
                                items:
                                  type: string
                              reviewCount:
                                type: number
                              likeCount:
                                type: number
                              avgrating:
                                type: number
                        date:
                          type: string
                          format: date
    post:
      tags:
        - DiyRecipes
      summary: 레시피 생성
      security:
        - JwtToken: []
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                newImageNames:
                  type: string
                recipeImageNames:
                  type: string
                description:
                  type: string
                ingredient:
                  type: string
                content:
                  type: string
                abv:
                  type: number
                sweet:
                  type: number
                bitter:
                  type: number
                sour:
                  type: number
      responses:
        '201':
          description: 레시피 생성 성공
  /diy-recipes/users:
    get:
      tags:
        - DiyRecipes
      summary: 사용자의 레시피 목록 조회
      security:
        - JwtToken: []
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: perPage
          in: query
          schema:
            type: number
        - name: cursorId
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: number
      responses:
        '200':
          description: 사용자의 레시피 목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                  name:
                    type: string
                  image:
                    type: string
                  reviewCount:
                    type: number
                  likeCount:
                    type: number
                  avgrating:
                    type: number
  /diy-recipes/:id:
    get:
      tags:
        - DiyRecipes
      summary: 레시피 정보 조회
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 레시피 정보 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                  user:
                    type: string
                  name:
                    type: string
                  images:
                    type: string
                  description:
                    type: string
                  ingredient:
                    type: string
                  recipe:
                    type: string
                  abv:
                    type: number
                  sweet:
                    type: number
                  bitter:
                    type: number
                  sour:
                    type: number
                  review:
                    type: array
                    items:
                      type: string
                  reviewCount:
                    type: number
                  likeCount:
                    type: number
                  avgrating:
                    type: number
    put:
      tags:
        - DiyRecipes
      summary: 레시피 수정
      security:
        - JwtToken: []
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                newImageNames:
                  type: string
                recipeImageNames:
                  type: string
                description:
                  type: string
                ingredient:
                  type: string
                content:
                  type: string
                abv:
                  type: number
                sweet:
                  type: number
                bitter:
                  type: number
                sour:
                  type: number
      responses:
        '200':
          description: 레시피 수정 성공
    delete:
      tags:
        - DiyRecipes
      summary: 레시피 삭제
      security:
        - JwtToken: []
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 레시피 삭제 성공
  /bars:
    get:
      tags:
        - Bars
      summary: 지도에서 바 목록 조회
      parameters:
        - name: x1
          in: query
          schema:
            type: number
        - name: x2
          in: query
          schema:
            type: number
        - name: y1
          in: query
          schema:
            type: number
        - name: y2
          in: query
          schema:
            type: number
        - name: keyword
          in: query
          schema:
            type: string
        - name: perPage
          in: query
          schema:
            type: number
        - name: page
          in: query
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                  name:
                    type: string
                  image:
                    type: string
                  address:
                    type: string
                  tel:
                    type: string
                  time:
                    type: string
                  x:
                    type: number
                  y:
                    type: number
    post:
      tags:
        - Bars
      summary: 바 등록
      security:
        - JwtToken: []
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                newImageNames:
                  type: string
                address:
                  type: string
                tel:
                  type: string
                time:
                  type: string
                x:
                  type: number
                y:
                  type: number
      responses:
        '201':
          description: Created
  /bars/:id:
    get:
      tags:
        - Bars
      summary: 바 정보 조회
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                  name:
                    type: string
                  image:
                    type: string
                  address:
                    type: string
                  tel:
                    type: string
                  time:
                    type: string
                  x:
                    type: number
                  y:
                    type: number
    put:
      tags:
        - Bars
      summary: 바 정보 수정
      security:
        - JwtToken: []
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                newImageNames:
                  type: string
                address:
                  type: string
                tel:
                  type: string
                time:
                  type: string
                x:
                  type: number
                y:
                  type: number
      responses:
        '200':
          description: Successful operation
    delete:
      tags:
      - Bars
      summary: 바 정보 삭제
      security:
        - JwtToken: []
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
  /reviews/:id:
    put:
      tags:
        - Reviews
      summary: 리뷰 수정
      security:
        - JwtToken: []
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                newImageNames:
                  type: array
                  items:
                    type: string
                rating:
                  type: number
      responses:
        '200':
          description: Successful operation
    get:
      tags:
        - Reviews
      summary: 리뷰 상세 조회
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                  content:
                    type: string
                  images:
                    type: array
                    items:
                      type: string
                  rating:
                    type: number
                  likeCount:
                    type: number
    delete:
      tags:
        - Reviews
      summary: 리뷰 삭제(관리자)
      security:
        - JwtToken: []
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
  /reviews/:id/users:
    delete:
      tags:
        - Reviews
      summary: 리뷰 삭제
      security:
        - JwtToken: []
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
  /reviews/create/:id:
    post:
      tags:
        - Reviews
      summary: 리뷰 등록
      security:
        - JwtToken: []
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                newImageNames:
                  type: array
                  items:
                    type: string
                rating:
                  type: number
      responses:
        '201':
          description: Created
  /reviews/list:
    get:
      tags:
        - Reviews
      summary: 상품 리뷰 목록 조회
      parameters:
        - name: id
          in: query
          schema:
            type: string
        - name: perPage
          in: query
          schema:
            type: number
        - name: page
          in: query
          schema:
            type: number
        - name: cursorId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                  email:
                    type: string
                  content:
                    type: string
                  images:
                    type: array
                    items:
                      type: string
                  likeCount:
                    type: number
                  createdAt:
                    type: string
                    format: date
  /reviews/users:
    get:
      tags:
        - Reviews
      summary: 유저의 리뷰 목록 조회
      security:
        - JwtToken: []
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum: [cocktails, recipes]
        - name: perPage
          in: query
          schema:
            type: number
        - name: page
          in: query
          schema:
            type: number
        - name: cursorId
          in: query
          schema:
            type: string
        - name: cursorValue
          in: query
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  list:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                        type:
                          type: string
                        name:
                          type: string
                        content:
                          type: string
                        images:
                          type: array
                          items:
                            type: string
                        createdAt:
                          type: string
                          format: date
  /reviews/:id/likes:
    post:
      tags:
        - Reviews
      summary: 리뷰 좋아요 추가
      security:
        - JwtToken: []
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Created
    delete:
      tags:
        - Reviews
      summary: 리뷰 좋아요 삭제
      security:
        - JwtToken: []
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
  /reviews/search:
    get:
      tags:
        - Reviews
      summary: 리뷰 검색 조회(관리자)
      security:
        - JwtToken: []
      parameters:
        - name: JwtToken
          in: cookies
          required: true
          schema:
            type: string
        - name: keyword
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum: [cocktails, recipes]
        - name: perPage
          in: query
          schema:
            type: number
        - name: page
          in: query
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                  type:
                    type: string
                  name:
                    type: string
                  content:
                    type: string
                  images:
                    type: array
                    items:
                      type: string
                  createdAt:
                    type: string
                    format: date
  /search:
    get:
      tags:
        - Search
      summary: 칵테일, 레시피 검색
      parameters:
        - name: keyword
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum: [cocktails, recipes]
        - name: sort
          in: query
          schema:
            type: string
            enum: [rating, review]
        - name: cursorId
          in: query
          schema:
            type: string
        - name: cursorValue
          in: query
          schema:
            type: number
        - name: perPage
          in: query
          schema:
            type: number
        - name: page
          in: query
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: number
                  cocktailSize:
                    type: number
                  diyRecipeSize:
                    type: number
                  cocktails:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                        name:
                          type: string
                        images:
                          type: string
                        avgRating:
                          type: number
                        reviewCount:
                          type: number
                  diyRecipes:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                        name:
                          type: string
                        images:
                          type: string
                        avgRating:
                          type: number
                        reviewCount:
                          type: number
  /search/admin:
    get:
      tags:
        - Search
      summary: 관리자용 칵테일,레시피 검색
      parameters:
        - name: keyword
          in: query
          schema:
            type: string
        - name: type
          in: query
          schema:
            type: string
            enum: [cocktails, recipes]
        - name: perPage
          in: query
          schema:
            type: number
        - name: page
          in: query
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  cocktail:
                    type: number
                  diyRecipe:
                    type: number
                  total:
                    type: number

  